.statusBox {
    display: flex;
    justify-content: space-between;
}

.statusBox div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    margin: 5px; 
    border-radius: 5px;
    color: black;
}

.plan { background-color: red; }
.permit { background-color: yellow; }
.process { background-color: gray; }
.finish { background-color: green; }