{% load static %}

<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap">
    <link rel="stylesheet" href="{% static 'Box.css' %}" >
    <link rel="stylesheet" href="{% static 'lightHome.css' %}">
    <title>โครงการ</title>
</head>

<body>

    <div class="container">

        <div class="head">
            <h1>กลุ่มงานยุทธศาสตร์และแผนงานโครงการ</h1>
            <h2>โรงพยาบาลลำพูน</h2>
        </div>

        <div class="beforeTable">
            <h2 class = "statusSentence">แถบแจ้งสถานการณ์ดำเนินงาน</h2>
            <div class="statusBox">
                <div class="plan" style="width: {{ percents.0 }}%"></div>
                <div class="permit" style="width: {{ percents.1 }}%"></div>
                <div class="process" style="width: {{ percents.2 }}%"></div>
                <div class="finish" style="width: {{ percents.3 }}%"></div>
            </div>                      
            <div class="labelStatus">
                <div>🔴 ยังไม่ได้ดำเนินการ {{ percents.0 }}% </div>
                <div>🟠 ขอเสนออนุมัติ {{ percents.1 }}% </div>
                <div>🟡 ระหว่างดำเนินงาน {{ percents.2 }}% </div>
                <div>🟢 ดำเนินงานเสร็จแล้ว {{ percents.3 }}% </div>
            </div>
        </div>

        <div class="infomationBar">
            <div class="dowloadForm">
                <button onclick="dowloadForm('form1')">แบบฟอร์ม โครงการขออนุมัติต่างๆ</button>
                <button onclick="dowloadForm('form2')">แบบฟอร์ม ขออนุมัติเบิกพัสดุ</button>
                <button onclick="dowloadForm('form3')">ตัวอย่างโครงการ</button>
            </div>
            <div class="loadAndSearch">
                <form action="{% url 'search_view' %}" method="get">
                    <label class="findProject">ค้นหาโครงการ</label>
                    <input name="search" type="text" placeholder="ชื่อโครงการ" class="searchInput" value="{{ query }}">
                    <button type="submit" class="findButton">ค้นหา</button>
                </form>
                <button class="downloadFile" onclick="loadExel()">ดาวโหลดไฟล์โครงการทั้งหมด</button>
            </div>
        </div>

        <div class="buttonRightTop">
            <button class="adminButton" onclick="redirectToAdmin()">
                <lord-icon src="https://cdn.lordicon.com/kthelypq.json" trigger="hover"></lord-icon>
            </button>
        </div>

        <table class="project-table">
            <caption>รายงานผลการดำเนินงานโครงการ</caption>
            <caption class="showTotal" 
                    style="color: gray;">
                    {% if query %}
                        ผลลัพธ์การค้นหา จำนวนทั้งหมด 
                        <span id="projectCount">{{ result|length }}</span> โครงการ
                    {% else %}
                        จำนวนทั้งหมด 
                        <span id="projectCount">{{ mymembers|length }}</span> โครงการ
                    {% endif %}
            </caption>
            <thead>
                <tr>
                    <th style="text-align: center;">รหัสโครงการ</th>
                    <th>ชื่อโครงการ</th>
                    <th>หน่วยงาน</th>
                    <th>สถานะ</th>
                    <th style="text-align: center;">รายละเอียด</th>
                </tr>
            </thead>
            <tbody>
                {% if query %}
                    {% for member in result %}
                    <tr>
                        <td style="text-align: center;">{{ member.code }}</td>
                        <td>{{ member.color }} {{ member.projectName }}</td>
                        <td>{{ member.agency }}</td>
                        <td>{{ member.status }}</td>
                        <td><button  style="background-color: #3937bd; color: white;" class="finance" onclick="openFinanceModal(parseInt('{{ member.id }}'))">การเงิน</button></td>
                    </tr>                
                    {% endfor %}
                {% elif mymembers%}
                    {% for member in mymembers %}
                    <tr>
                        <td style="text-align: center;">{{ member.code }}</td>
                        <td>{{ member.color }} {{ member.projectName }}</td>
                        <td>{{ member.agency }}</td>
                        <td>{{ member.status }}</td>
                        <td><button  style="background-color: #3937bd; color: white;" class="finance" onclick="openFinanceModal(parseInt('{{ member.id }}'))">การเงิน</button></td>
                    </tr>                
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center;">ไม่พบโครงการที่ค้นหา</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    
    <script src="{% static 'js/function.js' %}"></script>

</body>

<div id="financeModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeFinanceModal()">&times;</span>
        <h2>ยอดโครงการ : <span id="projectValue"></span> บาท</h2>
        <div class="chart-container"><canvas id="pieChart"></canvas></div>
    </div>
</div>

</html>